body{
  background-color: #f4cd41;
}

.header-title {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px;
  border: none;
  font: normal 60px/1 "Helvetica", Helvetica, sans-serif;
  color: rgba(26,110,178,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  }

.comment-box {
  border-radius: 3px;
  border: 1px solid #ccccff;
  padding: 10px 3px;
  background-color: #e8e3e3;
  }

  .comment-button-add {
    border-radius: 2px;
    border: 1px solid #555555;
    color: #333333;
    background-color: #42b3f4;
    box-shadow: 0px 1px 5px 0px #aaa;
padding: center;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 255px;
  }

  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }


  .textarea-com {
  	border: 2px solid #765942;
  	border-radius: 10px;
  	height: 60px;
  	width: 230px;
  }
  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
